h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-part {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;

}

.current {
    color: #404bbf;
    position: relative;
}

.current::after {
    content: "";
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;

}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;

}

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    padding: 188px 0;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    background-size: cover;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.hero-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    display: flex;
    max-width: 496px;
    margin-bottom: 48px;
}


.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #404bbf;
    cursor: pointer;

}

.solutions {
    padding: 120px 0;
}

.solutions-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.solutions-list {
    display: flex;
    gap: 24px;
}

.solutions-item {
    width: calc((100% - 72px) / 4);

}

.solutions-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

.solutions-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.solutions-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    width: 264px;
}

.team {
    background: #f4f4fd;
    padding: 120px 0;
}

.team-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;

}

.team-item {
    background: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-name-text {
    padding: 32px 0;

}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.social-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-icon {
    width: 40px;
    height: 40px;
}

.soc-icons {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icons:hover,
.soc-icons:focus {
    background-color: #404bbf;
}

.link-icon {
    fill: #f4f4fd;
}


.portfolio {
    padding: 120px 0;

}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    position: relative;
}

.portfolio-item:hover .overlay-text {
    cursor: pointer;
    transform: translateY(0);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image {
    position: relative;
    overflow: hidden;
}


.overlay-text {
    position: absolute;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    padding: 40px 32px;

}


.portfolio-name-image {
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;

}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.footer {
    background: #2e2f42;
    padding: 100px 0;
    
}

.footer-list {
    display: flex;
    gap: 120px;
}

.footer-logo-text {
    margin-right: 120px
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-partlogo {
    color: #f4f4fd;
}

.logo-first {
    color: #4d5ae5;
}

.logo-footer {
    display: block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    text-align: left;
}

.footer-media {
    margin-right: 80px; 
}

.social-media {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: left;
}

.footer-icon {
    display: flex;
    gap: 16px;
    fill: #fff;
}

.footer-social-icon {
    width: 40px;
    height: 40px;
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.link-icon {
    fill: #f4f4fd;
}

.footer-subscribe {
    width: 453px;
}

.subscribe-text {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
padding-bottom: 16px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: inherit;
}

.form-input::placeholder {
   font-size: 12px;
line-height: 24px; 
line-height: 2;
letter-spacing: 0.04em;
color: #fff;
padding-left: 16px;
padding-top: 8px;
padding-bottom: 8px;
width: 36px;
}

